
body, html { 
	background: url("./firstscreen.png") no-repeat fixed center; 
	background-position: center;
	width: 100%;
  background-color: #731111; 
}

@media screen and (min-width: 620px) {
		  div.container {
		    font-size: 30px;
		  }
		  #main-title {
		  	font-size: 40px;
		  	margin: 10% 0 3% 0;
		  }
		  #popcorn {
		  	width: 180px;
		  }
}


@media screen and (max-width: 619px) {
		  div.container {
		    font-size: 20px;
		    flex-flow: column wrap;
		  }
		  #main-title {
		  	font-size: 30px;
		  	margin: 20% 0 5% 0;
		  	width: 100%;
		  }
		  #popcorn {
		  	display: none;
		  }
}

#main-title {
	display: flex;
	flex-flow: column wrap;
	flex: 1;
	justify-content: center;
	color: #000;
	text-align: center;
	font-family: 'Kalam', cursive; 
  }

.container {
	display: flex;
	flex-flow: row wrap;
	flex: 1;
	justify-content: center;
	gap: 20px;
	z-index: 2; 
}

.button {
	background-color: #443B3B; 
	color: #FFF;
	padding: 2%;
	font-family: 'Kalam', cursive; 
	text-decoration: none;
	border-radius: 20rem;
  text-align: center;
	}

.button:hover {
	background-color:black;
}

#popcorn {
	position:absolute;
	margin-left: 10vw; 
	bottom: 10vw;
	} 
